<a href="/post/{{pst_id}}">
    <div class="card">
        <h3 class="post-header">{{pst_title}}</h3>
        <h4>Posted by {{user.usr_name}} on {{created_at}}</h4>
        <div class="container">
            <p class="post-text">{{pst_content}}</p>
        </div>
    </div>
</a>
